body{
    min-height: 100vh;
}
header{
    background-color: AQUA;
    min-height: 10vh;
}
footer{
    margin-top: 10px!important;
    background-color:AQUA;
    min-height: 10vh;
}
section.alone{
    min-height: 80vh;
}
.active{
    font-weight: 100;
}
.nav-link{
    color: red;
}
.navbar-brand{
    color: black;
    font-weight: bolder;
}
.big-banner{
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRBVNAhT0nUj-y3NpgX7M3KujvxFPJU7B2sdkPkFmJyiDdJLdTE&usqp=CAU");
 height: 500px; 
padding-top: 150px;
}

.fav{
    color: red;
}


.material-icons{
    width: 24px !important;
    height: 24px !important;
}
.text{
    color:black;
    font-weight: bold;
    font-size:50px;
    font-family: Consolas;
    text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
        
    
    
}